/*--Remember the cascade: Later styles override earlier ones and more specific styles override more general ones.--*/
body {
  font-size: 16px;
  font-family: 'Nunito Sans', sans-serif;
  width: 92%;
  margin: 0 auto;
  background-color: #fcf89a;
}
img {
  width: 100%;
}
nav {
  background-color: black;
  padding: 1em 0;
  display: flex;
  justify-content: space-around;
  font-size: 1.2em;
  font-weight: 600;
}
nav a {
  color: white;
  text-decoration: none;
}
nav a:hover {
  color: lightgrey;
}
h1 {
  text-align: center;
  font-weight: 600;
  margin-top: 2em;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding-top: .5em;
  padding-bottom: .5em;
}
.splash h1 {
  border-top: 0;
  border-bottom: 0;
}
h2 {
  font-size: 1.4em;
  font-weight: 600;
  line-height: 1.2;
}
p {
  margin-bottom: .1em;
}
.char-txt {
  padding: 1em;
}
.splash {
  text-align: center;
  margin-top: .5em;
  margin-bottom: .5em;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.splash img {

}
.charwrap2 {
  display: grid;
  grid-template-rows: 1fr 3fr;
}
.char-wrap {
  margin: 2em 0;
  display: grid;
  grid-template-columns: 1fr 3fr;
}
nav, footer {
  background-color
}
footer {
  text-align: center;
  padding: .5em 0 .2em 0;
  color:
}
header {
  text-align: center
  width: 300px;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
}
header img {
  width: 500px
  margin: auto;
}
header h1 {
  margin: 0 auto;
  padding: 0 auto;
  font-family: Lato, sans-serif;
  font-weight: 900;
}
article {
  width: 300px;
  text-align: left;
  font-size: 18px;
  line-height: 1.3;
  margin-left: .1em
}
}
/*-- changes header and article width on small screens --*/
@media screen and (max-width: 768px) {
  header {width: 96%;}
  article {width: 96%;}
}
